.media-window {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 8fr 2fr;
	height: 75vh;
}

.media-window * {
	display: block;
}

.media-window-grid_1_2 {
	overflow: auto;
	position: relative;
}

.media-window-grid_1_2 * {
	height: auto;
	width: 100%;
}