
<div class="media-window">
    <div class="media-window-grid_1_1">
        <ctrs-videoplayer videoFileName="lectionTest.mp4"
                          [timeCodeToGo]="currentTimeCode"></ctrs-videoplayer>
    </div>
    <div class="media-window-grid_1_2"
         *ngIf="isPresentationAvailable">
        <ctrs-presentation [presentationSheets]="currentVideoPresentationSheets"
                            (onSlideClick)="handleSlideClick($event)"></ctrs-presentation>
    </div>
    <div class="media-window-grid_1_2"
         *ngIf="!isPresentationAvailable">
         <button (click)="openPresentationMaker()">
            Создать презентацию
         </button>
    </div>
    <div class="media-window-grid_1_3">
        <span>Тестовое название видео</span>
        <ctrs-commentaries></ctrs-commentaries>
    </div>
    <div class="media-window-grid_1_4">
        <ctrs-suggestions></ctrs-suggestions>
    </div>
</div>
